#bizCalMain {
    font-family: "Montserrat";
    box-shadow: 0px 0px 0px 2px #e66053, 10px 10px 20px 10px rgba(78, 79, 74, 0.5);
    border: 2px solid #e66053;
    color: white;
}

.calendar {
    display: table;
    width: 100%;
    height: 100%;
    background-size: cover;
    border: none;
    position: relative;
}

.JulyMonth {
    display: none;
}

.bothArrowButtons {
    position: absolute;
    top: 39%;
    padding: 8px 10px;
    background-color: #e66053;

    i {
        color: white;
    }
}

#arrowRightButton {
    right: 2%;
}

#arrowLeftButton {
    left: 2%;
}

.calendarMonthBanner {
    border: 2px solid #e66053;
    margin: 2px;
    text-align: center;
    padding: 0.5rem;
    position: relative;
    background-color: #F6E9DC;
}

.calendarMonthBanner h1 {
    background-color: #4E4F4A;
    color: #F6E9DC;
    font-size: 3rem;
    letter-spacing: 0.1em;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
}

.calendarMonthBanner img {
    width: 60%;
}

thead, tbody {
    background-color: rgb(48 32 32 / 50%);
}

.calendarDayHeader {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: relative;
}

.calendarDayCell {
    font-size: 4rem;
    position: relative;
}

.calendarDayHeader, .calendarDayCell {
    border: 2px solid #e66053;
    text-align: center;
    width: 14.2857142857%;
    vertical-align: middle;
}

.calendarDayHeader, .calendarDayCell {
    padding: 0.75rem 0 1.5rem;
}

.calendarDayCell {
    position: relative;
    padding: 10vh;
}

.fontClass {
    font-size: 2rem;
}

.day {
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 1.6rem;
}

.title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.growing-number {
    position: absolute;
    right: 3px;
    bottom: 0;
    font-size: 1.6rem;
}

@media only screen and (max-width: 1001px) and (prefers-color-scheme: dark) {

    .calendarDayHeader {
        font-size: 0.85rem;
    }

    .calendarDayCell {
        padding: 5vh 0 10vh 0;
    }

    .fontClass, .growing-number, .day {
        font-size: 1.2rem;
    }

    .day {
        left: 7px;
    }
}

@media only screen and (max-width: 870px) and (prefers-color-scheme: dark) {

    .fontClass {
        font-size: 1rem;
    }

    .day, .growing-number {
        font-size: unset;
    }
}

@media only screen and (max-width: 752px) and (prefers-color-scheme: dark) {

    .calendarDayCell {
        padding: 2.5vh 0 10vh 0;
    }

    .fontClass {
        font-size: 0.85rem;
    }

    .day, .growing-number {
        font-size: unset;
    }
}

@media only screen and (max-width: 650px) and (prefers-color-scheme: dark) {

    .fontClass {
        font-size: 0.75rem;
    }

    .day, .growing-number {
        font-size: unset;
    }
}

@media only screen and (max-width: 588px) and (prefers-color-scheme: dark) {

    .fontClass {
        font-size: 0.4rem;
    }

    .day, .growing-number {
        font-size: unset;
    }
}
